/* ------------------font---------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* -------------------container------------------------ */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 5% 10% 0% 10%;
}
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;

}
label.influ-menu{
    font-size: larger;
    line-height: 50px;
    font-weight: 600;
}
nav ul{
    float: right;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin-left: 5px;
}
nav ul li a{
    font-size: 18px;
    color: black;
    
}
/*----------------------------main camera---------------------------------*/

.main-camera{
    display: flex;
    /* margin:5% 10% 10% 10%; */
}
.cam{
    padding: 10% 10% 0% 0%;
    
}
.back-cam{
    margin-top: -80%;
    width: 80%;
}
.link-button{
    background-color: rgb(255, 0, 93);
    padding: 8px 25px;
    border-radius: 20px;
    font-size: large;
    color: aliceblue;
}

/* -------------------------------log-------------------------------- */

.log{
    margin: 5%;
    border-top: 1px solid rgb(240, 238, 238);
    padding: 2%;
    border-bottom: 1px solid rgb(240, 238, 238);
}
.log img{
    width: 80px;
    margin-left: 5%;
}

/* ------------------------------collection--------------------------------- */

.collection{
    margin: 10% 5% 10% 5%;
}
.collection h1{
    text-align: center;
    margin: 5%;
}
.collection-title{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 2%;  
}
.ar-title{
    
    padding: 5%;
    box-shadow: 10px 10px 20px silver;    
}
.thubnail img{
    width: 250px;
}
.more{
    margin-top: 20px;
    font-weight: 600;
    color: brown;
    float: right;
}

/* --------------------------one place------------------------------- */

.one-place{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.place-info{
    margin-left: 10%;
    margin-top: 5%;
}
.join{
    margin-top: 50px;
    background-color: rgb(245, 35, 116);
    padding: 7px 20px;
    color: white;
}

/* ----------------------------footer---------------------------------- */

footer{
    text-align: center;
    background-color: rgb(5, 5, 41);
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
}
ul i{
    margin-left: 10px;
}
.fa-instagram{
    background-color: rgb(117, 96, 66);
    padding: 3px;
    border-radius: 12px;
}
i{
    margin-left: 10px;
}

/* -------------------------------mobile device----------------------------- */

@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .collection-title, nav{
        background-color: azure;
        grid-template-columns: repeat(1, 1fr);
    }
}